# macOS system file
.DS_Store

# Python cache files
__pycache__/
**/__pycache__/

# Instance folder (contains DB and config)
instance/

# Ignore JetBrains IDE config folder
.idea/

# Ignore Python virtual environment folder
venv/